.game-card {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: lightskyblue;
  margin: 10px;
  display: flex;
  align-items: center;
}

.game-img {
  max-width: 200px;
  max-height: 200px;
  padding: 15px;
}

.game-card:hover {
  cursor: pointer;
}