.jumbotron {
  background-color: rgb(78, 129, 151);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.2);
}

.navbar {
  background-color: rgb(12, 44, 58);
}

.navbar-brand, .nav-link {
  color: white;
}

.nav-link:hover {
  color: lightgrey;
}

#score {
  margin-top: 40px;
}