.game-card {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: lightskyblue;
  margin: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 darkgrey ;
}

.game-img {
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
}

.game-card:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 grey;
}

@media (min-width: 800px) {
  .game-card {
    width: 180px;
    height: 180px;
    margin: 15px;
  }
  .game-img {
    padding: 10px;
  }
}
